div
  style(type="text/css"): include:stylus index.styl
  script(type="@plotdb/block"): include:lsc index.ls
  div(plug="body")
    .m-edit.has-tips.manual(ld="error-root")
      div(ld="input-group")
        select.form-control(ld="input")
          option(value="") ...
          option(ld-each="option") ...
        input.form-control.d-none(ld="other-text",t,t-placeholder="fill-other")
      .m-edit: .hover-tip.tip-sm: div(ld-each="error")
    .m-view: div(ld="content")
