div
  div(plug="body")
    .m-edit.has-tips.manual(ld="error-root")
      select.form-control(ld="input")
        option(value="") ...
        option(ld-each="option") ...
      .m-edit: .hover-tip.tip-sm: div(ld-each="error")
    .m-view: div(ld="content")
  script(type="@plotdb/block"): include:lsc index.ls
