div
  div(plug="body")
    .m-edit.has-tips.manual(ld="error-root")
      select.form-control(ld="input")
        option(value="") ...
        option(ld-each="option") ...
      .m-edit: .hover-tip.tip-sm: div(ld-each="error")
    .m-view: div(ld="content")

  //-.form-group.has-tips.manual(ld="base error-root",plug="widget")
    div(ld="display", data-display="block"): label.d-flex.align-items-end.flex-wrap
      div
        span(ld="label")
        span.text-danger.ml-2(ld="is-required") *
      .flex-grow-1
      .m-edit: .mf-note.text-sm(ld="limitation")
    .text-sm.text-muted(ld="display", data-display="block"): div(ld="desc", style="margin:-.6em 0 .7em")
    select.m-edit.form-control(ld="input")
      option(value="") ...
      option(ld-each="option") ...
    .m-edit: .hover-tip.tip-sm: div(ld-each="error")
    .m-edit(ld="display",data-display="block"): .mf-note.text-sm.mt-2.note(ld-each="note")
    .m-view: div(ld="content")
  script(type="@plotdb/block"): include:lsc index.ls
